{% extends 'employee_survey_app/base.html' %}
{% load survey_extras %}

{% block body_block %}
<div class="container">
	{% if is_past_end_date %}
		<h2 style="color:red">welcome {{user}}, your survey is expired..!! </h2>
        <label><span class="asterix"> * </span>You can only see your previous feedback</label>
	{% else %}
		{% if user_response_id %}
			<h2 style="color:#000080">welcome {{user}}, now re-start your feedback ...</h2>
		{% else %}
			<h2 style="color:#000080">welcome {{user}}, now start your feedback ...</h2>
		{% endif %}
	{% endif %}
	<h4>About {{survey.name|title}} </h4>
	<div class="survey-description">
		{{survey.description|safe}}
	</div>

	<div class="card" style="disabled:{{is_past_end_date}}">
		<div class="card-header"></div>
		<div class="card-body">
			<form name="frm-survey" id="frm-example"  action="/employee_survey_app/my_surveys/{{survey_user_id}}/" method="POST">{% csrf_token %}
				<div class="category-container">
					<div  style="visibility:hidden">
							{{ response_form.user }}
					</div>
					<table>
						<tr class="field-wrapper">
							<td>
								{{ response_form.comments.label_tag }}
							</td>
							<td>
								{{ response_form.comments.errors }}
								{{ response_form.comments.help_text}}
								{{ response_form.comments }}
							</td>
						</tr>
					</table>
				</div>
				<div class="panel panel-default survey_panel">
					<div class="panel-body">
						<table id="example" class="table" style="width:100%"  data-page-length='5'>
						<thead>
							<tr>
								<th>Sr. No.</th>
								<th>Question</th>
								<th>Answer</th>
							</tr>
						</thead>
						<tbody>
							{% for field in response_form %}
								{% if field.field.widget.attrs.category == 'test_cat' %}
									<tr class="q-item" value="{% counter %}">
										<td>{% counter %}</td>
										{% if field.field.required %}
											<td>
												{{ field.errors }}
												<span class="asterix"> * </span><label class="label-inline">{{ field.label }}</label>
												<span class="form-help-text">{{ field.help_text}}</span>
											</td>
										{% else %}
											<td>
												{{ field.errors }}
												<label class="label-inline">{{ field.label }}</label>
												<span class="form-help-text">{{ field.help_text}}</span>
											</td>
										{% endif %}
										<td>
											{{ field }}
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
						<tfoot>
						</tfoot>
					</table>
					</div>
				</div>
				<div class="submit-button">
					{% if is_past_end_date %}
						<input type="submit" class="btn btn-primary btn-md" name="save_btn"
							   value="Save" disabled>
						<input type="submit" class="btn btn-success btn-md" name="finish_btn"
							   value="Finish" disabled>
					{% else %}
						<input type="submit" class="btn btn-primary btn-md" name="save_btn"
							   value="Save">
						<input type="submit" class="btn btn-success btn-md" name="finish_btn"
							   value="Finish">
					{% endif %}

				</div>
			</form>
		</div>
	</div>

	{% endblock %}

	{% block extra_js %}
		<script src="/media/js/jquery.collapsible.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				//collapsible management
				$('.collapsible').collapsible({defaultOpen: 'response_metadata'});
			});
		</script>
	{% endblock %}
</div>