{% extends "employee_survey_app/base.html" %}
{% block body_block %}
<div class="container">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        th{
            color: blue;
        }
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
  <div class="jumbotron">
    <h2>REPORTS !</h2>
      {% if response %}
    <table>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Survey Name</th>
            <th>User Name</th>
            <th>Comments from User</th>
            <th>Status</th>
        </tr>
        {% for item in response %}
        <tr>
             <td>{{ item.id }}</td>
             <td>{{ item.start_date }}</td>
             <td>{{ item.end_date }}</td>
             <td>{{ item.survey.name }}</td>
             <td>{{ item.user.username }}</td>
             <td>{{ item.response.comments }}</td>
             <td>
                 {% if item.response %}
                     {% if item.response.is_finished %}
                         <label style="color:green">Complete</label>
                     {% else %}
                        <label style="color:red">In-Complete</label>
                     {% endif %}
                 {% elif item.is_past_end_date%}
                    <label style="color:red">Expired</label>
                 {% else %}
                    <label style="color:black">Assigned</label>
                 {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
      {% else %}
          <p style="color:#ff0000">There are no response.</p>
    {% endif %}
  </div>
</div>
{% endblock %}